<h1>All continents</h1>
<table class="table table-borderless" *ngIf="continents.length>0">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Pollution</th>
            <th scope="col">Countries</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of continents">
            <td>{{c.name}}</td>
            <td>
                <button type="button" class="btn btn-success btnCenter"(click)="btnPollution(c.continentId)">Pollution</button>
            </td>
            <td>
                <button type="button" class="btn btn-success btnCenter"(click)="btnCountries(c.continentId)">Countries</button>
            </td>
        </tr>
    </tbody>
</table>