<div *ngIf="continent.continentPollutions!=null" class="container">
  <h2>Pollution in {{ continent.name }}</h2>
  <p> <button mat-raised-button color="primary" class="btnCenter" data-toggle="modal"
      data-target="#CreateContinentPollutionModal">Add pollution</button></p>
  <table mat-table [dataSource]="continent.continentPollutions" class="mat-elevation-z8">

    <ng-container matColumnDef="Year">
      <th mat-header-cell *matHeaderCellDef>Year</th>
      <td mat-cell *matCellDef="let c"> {{c.year}} </td>
    </ng-container>
    <ng-container matColumnDef="Pollution">
      <th mat-header-cell *matHeaderCellDef> Pollution </th>
      <td mat-cell *matCellDef="let c">{{c.pollution}}</td>
    </ng-container>
    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let c"><button mat-raised-button color="primary" class="btnCenter" data-toggle="modal"
          data-target="#EditContinentPollutionModal" (click)="btnEdit(c)">Edit</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- EditModal -->
<div class="modal fade" id="EditContinentPollutionModal" tabindex="-1" role="dialog"
  aria-labelledby="EditContinentPollutionModal" aria-hidden="true" *ngIf="continentPollution!=null">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="EditContinentPollutionModal">Edit pollution</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editPollution">
          <mat-form-field>
            <input matInput placeholder="Pollution" type="number" formControlName="pollution" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Year" type="number" formControlName="year" required>
          </mat-form-field>
        </form>
        <button mat-raised-button color="primary" data-dismiss="modal" (click)="btnSave()">Save</button>
        <button mat-raised-button color="primary"data-dismiss="modal" (click)="btnDelete()">Delete</button>
      </div>
      <div class="modal-footer">
        <button mat-raised-button color="primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- CreateModal -->
<div class="modal fade" id="CreateContinentPollutionModal" tabindex="-1" role="dialog"
  aria-labelledby="CreateContinentPollutionModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="CreateContinentPollutionModal">Add pollution to {{continent.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form [formGroup]="createPollution">
              <mat-form-field>
                <input matInput placeholder="Pollution" type="number" formControlName="pollution" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Year" type="number" formControlName="year" required>
              </mat-form-field>
            </form>
        <button mat-raised-button color="primary" data-dismiss="modal" (click)="btnCreate()">Create</button>
      </div>
      <div class="modal-footer">
        <button mat-raised-button color="primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
