<div *ngIf="continent.continentPollutions!=null" class="container">
    <h2>Pollution in {{ continent.name }}</h2>
    <p>                        <button type="button" class="btn btn-success btnCenter"
      data-toggle="modal" data-target="#CreateContinentPollutionModal">Add pollution</button></p>
    <table class="table table-borderless" *ngIf="continent.continentPollutions.length>0">
        <thead>
            <tr>
                <th scope="col">Year</th>
                <th scope="col">Pollution Amount</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of continent.continentPollutions">
                <td>{{c.year}}</td>
                <td>{{c.pollution}}</td>
                <td>
                        <button type="button" class="btn btn-success btnCenter"
                        data-toggle="modal" data-target="#EditContinentPollutionModal" (click)="btnEdit(c)">Edit</button>
                    </td>
            </tr>
        </tbody>
    </table>
</div>

    <!-- EditModal -->
    <div class="modal fade" id="EditContinentPollutionModal" tabindex="-1" role="dialog" aria-labelledby="EditContinentPollutionModal" aria-hidden="true"
    *ngIf="continentPollution!=null">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EditContinentPollutionModal">Edit pollution</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <form class="pollutionForm" [formGroup]="editPollution">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Pollution</label>
                                <input class="form-control" id="name" type="number" formControlName="pollution" placeholder="pollution" />
                            </div>
                            <div class="form-group col-md-6">
                                    <label for="year">Year</label>
                                    <input class="form-control" id="year" type="number" formControlName="year" placeholder="year" />
                            </div>
                        </div>
                    </form>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="btnSave()">Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="btnDelete()">Delete</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    </div>

        <!-- CreateModal -->
        <div class="modal fade" id="CreateContinentPollutionModal" tabindex="-1" role="dialog" aria-labelledby="CreateContinentPollutionModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="CreateContinentPollutionModal">Add pollution to {{continent.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form class="pollutionForm" [formGroup]="createPollution">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Pollution</label>
                                    <input class="form-control" id="name" type="number" formControlName="pollution" placeholder="pollution" />
                                </div>
                                <div class="form-group col-md-6">
                                        <label for="year">Year</label>
                                        <input class="form-control" id="year" type="number" formControlName="year" placeholder="year" />
                                </div>
                            </div>
                        </form>
              <button type="button" class="btn btn-success" data-dismiss="modal" (click)="btnCreate()">Create</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
        </div>